<nav class="navbar fixed-top navbar-expand-sm bg-light navbar-light">
    <div class="container">
        <a class="navbar-brand" href="/"><i class="fas fa-arrow-left" aria-hidden="true"></i></a>
        <a class="navbar-brand" href="/services/secure-rec"><i class="fas fa-heartbeat" aria-hidden="true"></i> SECURE <span class="blue-word">REC</span></a>
        <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/services/secure-rec/login"><i class="fas fa-user" aria-hidden="true"></i> Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/services/secure-rec/signup"><i class="fas fa-sign-in-alt" aria-hidden="true"></i> Sign up</a>
                </li>
            </ul>
        </div>
    </div>  
</nav>