<div id="message-success" class="alert alert-success alert-dismissible fade show d-none" role="alert">
    <h6 class="alert-heading">Success!</h6>
    <button type="button" class="close" onclick="$('#message-success').hide()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <p id="message-success-text" class="text-justify alert-text-message"></p>
</div>

<div id="message-info" class="alert alert-info alert-dismissible fade show d-none" role="alert">
    <h6 class="alert-heading">Info</h6>
    <button type="button" class="close" onclick="$('#message-info').hide()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <p id="message-info-text" class="text-justify alert-text-message"></p>
</div>

<div id="message-error" class="alert alert-danger alert-dismissible fade show d-none" role="alert">
    <h6 class="alert-heading">Error</h6>
    <button type="button" class="close" onclick="$('#message-error').hide()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <p id="message-error-text" class="text-justify alert-text-message"></p>
</div>

<% flash.get('success').forEach(function (message) { %>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <h6 class="alert-heading">Success!</h6>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <p class="text-justify alert-text-message"><%= message %></p>
    </div>
<% }) %>

<% flash.get('info').forEach(function (message) { %>
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        <h6 class="alert-heading">Info</h6>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <p class="text-justify alert-text-message"><%= message %></p>
    </div>
<% }) %>

<% flash.get('error').forEach(function (message) { %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <h6 class="alert-heading">Error</h6>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <p class="text-justify alert-text-message"><%= message %></p>
    </div>
<% }) %>