<footer class="footer">
    <div class="container text-center">
        <a class="text-muted the-chain-link" href="http://thechain.tech/" target="_blank">The Chain © - 2019</a>
    </div>
</footer>