<!DOCTYPE html>
<html>
  <head>
    <title>Airmed Foundation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--STYLES-->
    <link rel="stylesheet" href="/dependencies/bootstrap-4/bootstrap-4.css">
    <link rel="stylesheet" href="/dependencies/datatables/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="/dependencies/datatables/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="/dependencies/font-awesome-4/css/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
  </head>

  <body class="d-flex align-items-center">

    <nav class="navbar fixed-top navbar-expand-sm bg-light navbar-light">
      <div class="container">
        <a class="navbar-brand" href="/">Airmed <span>Foundation</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/upload"><i class="fas fa-upload" aria-hidden="true"></i> Upload</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/download"><i class="fas fa-download" aria-hidden="true"></i> Download</a>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/tutorial"><i class="fa fa-book" aria-hidden="true"></i> Tutorial</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-user" aria-hidden="true"></i> Identity
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/identity"><i class="fa fa-plus" aria-hidden="true"></i> New</a>
                <a class="dropdown-item" href="/recovery"><i class="fa fa-key" aria-hidden="true"></i> Recovery</a>
                <a class="dropdown-item" href="/files"><i class="fas fa-file" aria-hidden="true"></i> Files</a>
              </div>
            </li>
          </ul>
        </div>
      </div>  
    </nav>

    <%- body %>
    
    <footer class="footer">
      <div class="container text-center">
        <a class="text-muted the-chain-link" href="http://thechain.tech/" target="_blank">The Chain © - 2019</a>
      </div>
    </footer>

    <!--SCRIPTS-->
    <script src="/dependencies/sails.io.js"></script>
    <script src="/dependencies/lodash.js"></script>
    <script src="/dependencies/jquery.min.js"></script>
    <script src="/dependencies/jquery.dataTables.min.js"></script>
    <script src="/dependencies/jquery.validate.min.js"></script>
    <script src="/dependencies/bowser.js"></script>
    <script src="/dependencies/vue.js"></script>
    <script src="/dependencies/bootstrap-4/bootstrap-4.bundle.js"></script>
    <script src="/dependencies/cloud.js"></script>
    <script src="/dependencies/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="/dependencies/datatables/dataTables.responsive.min.js"></script>
    <script src="/dependencies/datatables/responsive.bootstrap4.min.js"></script>
    <script src="/dependencies/parasails.js"></script>
    <script src="/js/pages/general.js"></script>
    <!--SCRIPTS END-->

  </body>
</html>
