<!DOCTYPE html>
<html>
    <head>
        <title>Airmed Foundation</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <!--STYLES-->
        <link rel="stylesheet" href="/dependencies/bootstrap-4/bootstrap-formhelpers.min.css">
        <link rel="stylesheet" href="/dependencies/bootstrap-4/bootstrap.min.css">
        <link rel="stylesheet" href="/dependencies/bootstrap-datepicker/bootstrap-datepicker.css">
        <link rel="stylesheet" href="/dependencies/bootstrap-select/bootstrap-select.css">
        <link rel="stylesheet" href="/dependencies/datatables/dataTables.bootstrap4.min.css">
        <link rel="stylesheet" href="/dependencies/datatables/responsive.bootstrap4.min.css">
        <link rel="stylesheet" href="/dependencies/font-awesome-5/css/font-awesome.min.css">
        <link rel="stylesheet" href="/dependencies/highlight/highlight.css">
        <link rel="stylesheet" href="/styles/importer.css">
        <!--STYLES END-->
    </head>

    <body class="d-flex align-items-center">

        <%- body %>

        <!--SCRIPTS-->
        <script src="/dependencies/sails.io.js"></script>
        <script src="/dependencies/lodash.js"></script>
        <script src="/dependencies/jquery.min.js"></script>
        <script src="/dependencies/popper.min.js"></script>
        <script src="/dependencies/jquery.dataTables.min.js"></script>
        <script src="/dependencies/jquery.validate.min.js"></script>
        <script src="/dependencies/bowser.js"></script>
        <script src="/dependencies/vue.js"></script>
        <script src="/dependencies/bootstrap-4/bootstrap-formhelpers.min.js"></script>
        <script src="/dependencies/bootstrap-4/bootstrap.min.js"></script>
        <script src="/dependencies/bootstrap-datepicker/bootstrap-datepicker.js"></script>
        <script src="/dependencies/bootstrap-select/bootstrap-select.min.js"></script>
        <script src="/dependencies/chart/chart.js"></script>
        <script src="/dependencies/cloud.js"></script>
        <script src="/dependencies/datatables/dataTables.bootstrap4.min.js"></script>
        <script src="/dependencies/datatables/dataTables.responsive.min.js"></script>
        <script src="/dependencies/datatables/responsive.bootstrap4.min.js"></script>
        <script src="/dependencies/highlight/highlight.min.js"></script>
        <script src="/dependencies/parasails.js"></script>
        <script src="/js/dependencies/dropdown-submenu.js"></script>
        <script src="/js/pages/explorer-charts.js"></script>
        <script src="/js/pages/explorer.js"></script>
        <script src="/js/pages/general.js"></script>
        <script src="/js/pages/services/secure-rec/authorizations/authorizations.js"></script>
        <script src="/js/pages/services/secure-rec/entrance/login.js"></script>
        <script src="/js/pages/services/secure-rec/entrance/signup.js"></script>
        <script src="/js/pages/services/secure-rec/secure-rec.js"></script>
        <!--SCRIPTS END-->
    </body>
</html>
