<nav class="navbar fixed-top navbar-expand-lg bg-light navbar-light">
    <div class="container">
        <a class="navbar-brand" href="/">Airmed <span class="blue-word">Foundation</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-wrench" aria-hidden="true"></i> Tools
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#"><i class="fa fa-user icon-color" aria-hidden="true"></i> Identities</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/identity"><i class="fa fa-plus icon-color" aria-hidden="true"></i> New</a></li>
                                <li><a class="dropdown-item" href="/recovery"><i class="fa fa-key icon-color" aria-hidden="true"></i> Recovery</a></li>
                                <li><a class="dropdown-item" href="/files"><i class="fas fa-file icon-color" aria-hidden="true"></i> Files</a></li>
                            </ul>
                        </li>
                        <li><a class="dropdown-item" href="/upload"><i class="fas fa-upload icon-color" aria-hidden="true"></i> Upload File</a></li>
                        <li><a class="dropdown-item" href="/download"><i class="fas fa-download icon-color" aria-hidden="true"></i> Download File</a></li>
                        <li><a class="dropdown-item" href="/explorer"><i class="fas fa-cubes icon-color" aria-hidden="true"></i> Explorer</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-list" aria-hidden="true"></i> Services
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/services/secure-rec"><i class="fas fa-heartbeat icon-color" aria-hidden="true"></i> Secure Rec</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/tutorial"><i class="fa fa-book" aria-hidden="true"></i> Tutorial</a>
                </li>
            </ul>
        </div>
    </div>  
</nav>