<% include ../layouts/navigation-bar %>

<main class="container general-container">
    <div class="row h-100">
        <div class="col-12 my-auto">
            <div class="row align-items-center mt-4 mb-5">
                <div class="col-md-12 col-lg-6">
                    <h5 class="home-title"><i class="fas fa-heartbeat" aria-hidden="true"></i> Secure <span class="blue-word">Rec</span></span></h5>
                    <hr>
                    <p class="home-paragraph">SecureRec is an <span class="font-weight-bold">Airmed Foundation service</span> that provides a <span class="font-weight-bold">secure channel to store and transfer medical records</span>. This files transaction are made between different users as health professionals, patients, providers (hospitals, pharmacies, laboratories) and insurance companies. Like the example shown on the Airmed Foundation home page, the records are encrypted and stored in <span class="font-weight-bold">InterPlanetary Filesystem and Hyperledger Fabric</span>.
                    </p>
                    <p class="home-paragraph">For example, a <span class="font-weight-bold">laboratory</span> can send a <span class="font-weight-bold">    blood test</span> to the <span class="font-weight-bold">patient</span> who performed it, his <span class="font-weight-bold">doctors</span> and if he is insured, also to the <span class="font-weight-bold">insurance company</span> (to cover the cost of the exam). Each of the users mentioned above, have access to the record they received, being able to consult it at any time.
                    </p>
                </div>
                <div class="col-md-12 col-lg-6 justify-content-center">
                    <div class="text-center">
                        <img src="../../images/home/form.png" id="record-logo"/></a>
                    </div>
                </div>
            </div>
            <div class="row align-items-center mt-5 mb-5">
                <div class="col-12 justify-content-center">
                    <div class="row">
                        <div class="col-12">
                            <h5 class="home-title"><i class="fas fa-users" aria-hidden="true"></i> User Types</span></h5>
                            <hr>
                        </div>
                        <div class="col-md-12 col-lg-6">
                            <div class="text-center mb-5">
                                <div class="d-inline-block pr-3">
                                    <div class="user-type-icon home-icon">
                                        <i class="far fa-hospital user-type-icon-i" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="d-inline-block pr-3">
                                    <div class="user-type-icon home-icon">
                                        <i class="fas fa-microscope user-type-icon-i" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="d-inline-block">
                                    <div class="user-type-icon home-icon">
                                        <i class="fas fa-capsules user-type-icon-i" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <p class="service-keys-p text-uppercase font-weight-bold text-center mt-3">Providers</p>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-6">
                            <div class="text-center mb-5">
                                <div class="d-inline-block">
                                    <div class="user-type-icon home-icon">
                                        <i class="fas fa-ambulance user-type-icon-i" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <p class="service-keys-p text-uppercase font-weight-bold text-center mt-3">Insurance Companies</p>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-6">
                            <div class="text-center mb-5">
                                <div class="d-inline-block">
                                    <div class="user-type-icon home-icon">
                                        <i class="fas fa-user-md user-type-icon-i" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <p class="service-keys-p text-uppercase font-weight-bold text-center mt-3">Doctors</p>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-6">
                            <div class="text-center mb-5">
                                <div class="d-inline-block">
                                    <div class="user-type-icon home-icon">
                                        <i class="fas fa-user user-type-icon-i" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <p class="service-keys-p text-uppercase font-weight-bold text-center mt-3">Patients</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<% include ../../../layouts/footer %>