<% include ../layouts/navigation-bar %>

<main class="container general-container">
    <div class="row h-100">
        <div class="col-12 my-auto">
            <div class="row align-items-center mt-4 mb-5">
                <div class="col-md-12 col-lg-6">
                    <h5 class="home-title"><i class="fas fa-heartbeat" aria-hidden="true"></i> Secure <span class="blue-word">Rec</span></h5>
                    <hr>
                    <p class="home-paragraph"><span class="font-weight-bold">SecureRec is an Airmed Foundation service that provides a secure channel to store and transfer medical records</span>. These file transactions are made between insurance companies, health professionals, patients, and providers (hospitals, pharmacies, laboratories). The records are stored in the <a href="https://ipfs.io/">InterPlanetary Filesystem</a> and protected through the blockchain of <a href="https://www.hyperledger.org/projects/fabric/">Hyperledger Fabric</a></span>.
                    </p>
                </div>
                <div class="col-md-12 col-lg-6 justify-content-center">
                    <div class="text-center">
                        <img src="../../images/home/form.png" id="record-logo"/>
                    </div>
                </div>
            </div>
            <div class="row align-items-center mt-4 mb-5">
                <div class="col-md-12 col-lg-6">
                    <h5 class="home-title">A Typical Use Case</h5>
                    <hr>
                    <p class="home-paragraph">Through SecureRec, a laboratory can privately send a blood test to the patient who requested it. If the patient desires so, his/her treating physicians can also be notified of the results of the test. Finally, the patient’s insurance company is notified, to cover the cost of the exam. <span class="font-weight-bold">The trail of transactions is auditable and immutable</span>. Furthermore, each of the actors have access to the same registry, being able to consult it at any time.
                    </p>
                </div>
                <div class="col-md-12 col-lg-6 justify-content-center">
                    <div class="text-center">
                        <img src="../../images/home/bloodTest.png" id="record-logo"/>
                    </div>
                </div>
            </div>
            <div class="row align-items-center mt-5 mb-5">
                <div class="col-12 justify-content-center">
                    <div class="row">
                        <div class="col-12">
                            <h5 class="home-title"><i class="fas fa-users" aria-hidden="true"></i> User Types</span></h5>
                            <hr>
                        </div>
                        <div class="col-md-12 col-lg-6">
                            <div class="text-center mb-5">
                                <div class="d-inline-block pr-3">
                                    <div class="user-type-icon home-icon">
                                        <i class="far fa-hospital user-type-icon-i" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="d-inline-block pr-3">
                                    <div class="user-type-icon home-icon">
                                        <i class="fas fa-microscope user-type-icon-i" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="d-inline-block">
                                    <div class="user-type-icon home-icon">
                                        <i class="fas fa-capsules user-type-icon-i" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <p class="service-keys-p text-uppercase font-weight-bold text-center mt-3">Hospitals, Laboratories and Pharmacies</p>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-6">
                            <div class="text-center mb-5">
                                <div class="d-inline-block">
                                    <div class="user-type-icon home-icon">
                                        <i class="fas fa-ambulance user-type-icon-i" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <p class="service-keys-p text-uppercase font-weight-bold text-center mt-3">Health Insurance Companies</p>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-6">
                            <div class="text-center mb-5">
                                <div class="d-inline-block">
                                    <div class="user-type-icon home-icon">
                                        <i class="fas fa-user-md user-type-icon-i" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <p class="service-keys-p text-uppercase font-weight-bold text-center mt-3">Doctors</p>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-6">
                            <div class="text-center mb-5">
                                <div class="d-inline-block">
                                    <div class="user-type-icon home-icon">
                                        <i class="fas fa-user user-type-icon-i" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <p class="service-keys-p text-uppercase font-weight-bold text-center mt-3">Patients</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<% include ../../../layouts/footer %>