<main class="container general-container">
    <div class="row h-100">
        <div class="col-12 my-auto">
            <div id="page-error">
                <div class="page-error">
                    <div class="page-error-404">
                        <h1>404</h1>
                    </div>
                    <h2>Oops! Nothing was found</h2>
                    <p>The page you are looking for might have been removed had its name changed or is temporarily unavailable.</p>
                    <p><a href="/">Return to homepage</a></p>
                </div>
            </div>
        </div>
    </div>
</main>