<main class="container general-container">
  <div class="row h-100">
      <div class="col-12 my-auto">
          <div id="page-error">
              <div class="page-error">
                  <div class="page-error-500">
                      <h1>500</h1>
                  </div>
                  <h2>Internal Server Error <i class="fas fa-server"></i></h2>
                  <p>Something isn't right here.</p>
              </div>
          </div>
      </div>
  </div>
</main>