<div class="modal fade modal-keys" id="sr-view-prescription-modal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="far fa-times-circle"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <div class="form-group margin-custom-radio">
                            <label class="service-form-label" for="hash-sent">Hash <i id="sr-prescription-view-hash-copy" class="fas fa-paste js-tooltip js-copy" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" data-copy="" title="Copy to clipboard"></i></label>
                            <input class="form-control modal-inputs-dis" type="text" id="sr-prescription-view-hash" disabled>
                        </div>
                        <div class="form-group">
                            <label class="service-form-label" for="note">Description</label>
                            <textarea class="form-control textarea-keys modal-inputs-dis" rows="5" id="sr-prescription-view-descrip" disabled></textarea>
                        </div>
                    </div>
                </div>
                <div class="row mt-4 mb-5">
                    <div class="col-4 offset-8">
                        <button data-dismiss="modal" aria-label="Close" type="button" class="btn btn-primary btn-block">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>