<main class="container general-container">
    <div class="row h-100">
        <div class="col-12 my-auto">
            <div class="row align-items-center margin-first">
                <div class="col-sm-12 col-md-6">
                    <h5 class="home-title">What is AirMed <span class="blue-word">Foundation</span>?</h5>
                    <p class="home-paragraph">Airmed foundation is a secure way to transfer or share medical records (or any sensitive document) between pairs, uses <strong>InterPlanetary Filesystem</strong> technology for the transfer and storage of records and <strong>Hyperledger Fabric</strong> for the storage of encrypted transactions, both technologies guarantee the immutability of the data, allowing to register all kinds of modifications. This works totally decentralized.</p>
                </div>
                <div class="col-sm-12 col-md-6 justify-content-center">
                    <div class="text-center">
                        <img src="images/hyperledger.png" class="img-thumbnail" id="hyperleger-logo"/>
                        <img src="images/ipfs.png" class="img-thumbnail" id="ipfs-logo"/>
                    </div>
                </div>
            </div>
            <div class="row align-items-center margin-top-section">
                <div class="col-sm-12 col-md-6">
                    <h5 class="home-title">How does it work?</h5>
                    <p class="home-paragraph">There are two ways to use Airmed, the first and easiest is to upload a file and share it through the hash address that returns the system, being able to download it to any <strong>InterPlanetary Filesystem</strong>  client that is connected to the public network. The second and more complex way is using identities to encrypt the file and restricting access by a specific person, for this process, we have created the following <a href="/guide">tutorial</a>.</p>
                </div>
                <div class="col-sm-12 col-md-6 justify-content-center">
                    <div class="text-center">
                        <img src="images/guide.png" class="img-thumbnail" id="guide-logo"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>