<% include ../layouts/navigation-bar %>

<main class="container general-container">
    <div class="row h-100">
        <div class="col-12 my-auto">
            <h5 class="detail-title">
                Profile
            </h5>
            <div class="card explorer-detail">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <p class="detail-text">
                                    First Name:
                                </p>
                            </div>
                            <div class="col-12 col-md-8">
                                <p class="detail-text"> 
                                    Name
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <p class="detail-text">
                                    Last Name:
                                </p>
                            </div>
                            <div class="col-12 col-md-8">
                                <p class="detail-text"> 
                                    Last Name
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <p class="detail-text">
                                    Legal Name:
                                </p>
                            </div>
                            <div class="col-12 col-md-8">
                                <p class="detail-text"> 
                                    Legal Name
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <p class="detail-text">
                                    Email address:
                                </p>
                            </div>
                            <div class="col-12 col-md-8">
                                <p class="detail-text"> 
                                    Email
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <p class="detail-text">User Type:</p>
                            </div>
                            <div class="col-12 col-md-8">
                                <p class="detail-text"> 
                                    Provider 
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <p class="detail-text">
                                    Country:
                                </p>
                            </div>
                            <div class="col-12 col-md-8">
                                <p class="detail-text"> 
                                    Country
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <p class="detail-text">
                                    State:
                                </p>
                            </div>
                            <div class="col-12 col-md-8">
                                <p class="detail-text"> 
                                    State
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <p class="detail-text">
                                    Phone:
                                </p>
                            </div>
                            <div class="col-12 col-md-8">
                                <p class="detail-text"> 
                                    Phone
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</main>

<% include ../../../layouts/footer %>