.card {
    color: #7a7a7a;
    border-radius: 0;
    margin-top: 50px; 
    margin-bottom: 50px;
    border-color: transparent;
    width: 100%;
}

.card-header {
    background-color: rgba(0,0,0,0);
    border-radius: 0;
    border-color: grey;
}

.card-header .btn-primary {
    font-size: 12px;
    background: white;
    border-color: grey;
    color: #7a7a7a;
}

.card-header .btn-primary:hover {
    background: #30a5ff;
    border-color: #2d99ed;
    color: white;
}

.custom-card-title {
    vertical-align: middle; 
    line-height: 35px
}

.explorer-list {
    overflow-y: scroll;
    max-height: 570px;
}

.explorer-list::-webkit-scrollbar-track {
    background-color: white;
}

.explorer-list::-webkit-scrollbar {
    width: 4px;
    background-color: transparent;
}

.explorer-list::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.card:hover .explorer-list::-webkit-scrollbar-thumb {
    width: 4px;
    background-color: #dbdbdb;
}

.card:hover .explorer-list::-webkit-scrollbar-thumb {
    background-color: #dbdbdb;
}

.list-group-item {
    border-color: transparent;
    height: 115px;
}

.list-group {
    font-size: 12px;
}

.block {
    background-color: grey; 
    color: white;
    padding-top: 25px; 
    padding-bottom: 25px;
}

.block a {
    color: white;
}

.block-p {
    margin: 0; 
    padding: 0;
}

.tx-icon {
    font-size: 16px;
}
