html {
    position: relative;
    min-height: 100%;
}
  
body {
    min-height: 100vh;
    padding-top: 80px;
    padding-bottom: 80px;
    background: #fff;
    font-size: 14px;
    color: #444444;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
}

.modal-keys .modal-header 
{
    border-color: #30a5ff;
}

.modal-keys .modal-content, .modal-keys .modal-body
{
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 20px;
    padding-right: 20px;
}

textarea {
    resize: none;
    font-size: 12px !important;
}

.textarea-keys{
	overflow: auto;
	overflow-x: hidden;
}

.textarea-keys::-webkit-scrollbar-track{
	background-color: white;
}

.textarea-keys::-webkit-scrollbar{
	width: 6px;
	background-color: #F5F5F5;
}

.textarea-keys::-webkit-scrollbar-thumb{
	border-radius: 100px;
	background-color: #30a5ff;
}

.modal-keys .modal-title
{
    font-size: 16px;
    text-transform: uppercase;
}

.margin-keys {
    margin-top: 20px;
    margin-bottom: 20px;
}

.margin-custom-radio {
    margin-top: 30px;
}

.custom-radio .custom-control-input:checked~.custom-control-label::before,
.custom-radio .custom-control-input:checked~.custom-control-label::after {
    background-color: #30a5ff; 
    border-radius: 50%;
}

.the-chain-link{
    text-decoration: none;
}

p { 
    word-break: break-all; 
}

.the-chain-link:visited, .the-chain-link:hover, .the-chain-link:active, .the-chain-link:focus {
    text-decoration: none !important;
    color: #4a4a4a !important;
    outline: none;
}

.alert {
    margin-bottom: 80px;
}
  
.navbar-brand {
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
}

.dropdown-item {
    font-size: 14px;
}

.navbar {
    border-bottom: 1px solid #e5e5e5;
}

.navbar-brand span, .blue-word {
    color: #30a5ff; 
}

.general-container {
    min-height: 100%;
}

.btn-primary {
    font-size: 14px;
    background:#30a5ff;
}

.js-copy {
    margin-left: 15px; 
}

.btn-primary:hover {
    background:#2d99ed;
}

.js-copy:hover {
    cursor: pointer;
}

.tag-error {
    color: #ff305c !important;
}

.box-error {
    border-color: #ff305c !important;
}

.custom-input {
    margin:0;
    padding: 0;
}

.custom-input .search-query {
    width:100%;
    padding-right: 3px;
    padding-left: 15px;
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 0;
}

.custom-input button {
    font-size: 14px;
}

.search-query:focus {
    z-index: 0;   
}

.hash-title {
    font-size: 16px;
    margin-bottom: 20px;
}

.hash-table-div {
    margin-bottom: 75px;
}

.hash-table .even, .hash-table .odd { 
    background-color: #ffffff 
}

.hash-table th, .dataTables_filter, .dataTables_length, .dataTables_info, .dataTables_paginate, .dtr-title {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #444444;
    line-height: 1.58;
}

.hash-table td {
    font-size: 14px;
    color: #444444;
}

.pagination > li.active > a, .pagination > li.active > span{
    background-image: linear-gradient(7deg, #30a5ff, #30a5ff);
}

.home-title {
    margin-bottom: 15px;
}

.home-title-image {
    font-size: 14px;
    margin-bottom: 10px;
}

.margin-image {
    margin-bottom: 25px;
}

.margin-divider {
    margin-bottom: 65px;
}

.home-paragraph, .guide-paragraph {
    word-break: normal;
    text-align: justify;
}

#hyperleger-logo {
    max-width: 250px;
    margin-right: 15px;
    margin-bottom: 15px;
}

#ipfs-logo {
    max-width: 100px;
}

#guide-logo {
    max-width: 175px;
}

.margin-first{
    margin-top: 25px;
}

.margin-top-section {
    margin-top: 75px;
}

.guide-subtitle {
    margin-top: 35px; 
    margin-bottom: 20px;
}

.guide-number {
    margin-bottom: 25px;
}

#new-identity {
    content:url('/images/new_identity_lg.png');
}

#generate-btn {
    content:url('/images/generate_btn_lg.png');
}

#identity-recovery {
    content:url('/images/identity_recovery_lg.png');
}

#recovery-btn {
    content:url('/images/recovery_btn_lg.png');
}

#recovery-ie {
    content:url('/images/recovery_ie_lg.png');
}

#identity-files {
    content:url('/images/identity_files_lg.png');
}

#files-search {
    content:url('/images/files_search_lg.png');
}

#tables-search {
    content:url('/images/tables_search_lg.png');
}


#upload-btn {
    content:url('/images/upload_btn_lg.png');
}

#choose-file {
    content:url('/images/choose_file_lg.png');
}

#upload-ie {
    content:url('/images/upload_ie_lg.png');
}

#press-upload {
    content:url('/images/press_upload_lg.png');
}

#encrypted-ipfs-hash {
    content:url('/images/encrypted_ipfs_hash_lg.png');
}


#download-btn {
    content:url('/images/download_btn_lg.png');
}
#download-ie {
    content:url('/images/download_ie_lg.png');
}
#download-finish-step {
    content:url('/images/download_finish_step_lg.png');
}

@media (max-width: 1000px) {
    .home-paragraph {
        font-size: 12px;
    }
}

@media (max-width: 768px) {
    .home-title, .guide-title {
        font-size: 16px;
    }
    .guide-subtitle {
        font-size: 14px;
    }
    .guide-paragraph {
        font-size: 12px;
    }
    #hyperleger-logo {
        max-width: 200px;
    }
    #ipfs-logo {
        max-width: 80px;
    }
    #guide-logo {
        max-width: 135px;
    }
    #new-identity{
        content:url('/images/new_identity.png');
    }
    #generate-btn {
        content:url('/images/generate_btn.png');
    }
    #identity-recovery {
        content:url('/images/identity_recovery.png');
    }
    #recovery-btn {
        content:url('/images/recovery_btn.png');
    }
    #recovery-ie {
        content:url('/images/recovery_ie.png');
    }
    #identity-files {
        content:url('/images/identity_files.png');
    }
    #files-search {
        content:url('/images/files_search.png');
    }
    #tables-search {
        content:url('/images/tables_search.png');
    }

    #upload-btn {
        content:url('/images/upload_btn.png');
    }
    #choose-file {
        content:url('/images/choose_file.png');
    }
    #upload-ie {
        content:url('/images/upload_ie.png');
    }
    #press-upload {
        content:url('/images/press_upload.png');
    }
    #encrypted-ipfs-hash {
        content:url('/images/encrypted_ipfs_hash.png');
    }

    #download-btn {
        content:url('/images/download_btn.png');
    }
    #download-ie {
        content:url('/images/download_ie.png');
    }
    #download-finish-step {
        content:url('/images/download_finish_step.png');
    }
}

@media (max-width: 520px) {
    .home-title {
        font-size: 14px;
    }
    .home-paragraph {
        font-size: 11px;
    }
}

@media (max-width: 400px) {
    .home-title {
        font-size: 12px;
    }
}

/* UPLOAD */
.upload-drop-zone {
    padding-top: 65px;
    padding-bottom: 65px;
    border-width: 2px;
}
  
.upload-drop-zone {
    color: rgba(0,0,0,.5);
    border-style: dashed;
    border-color: #c6c6c6;
}

input[type='file']{
    height: 0px !important;
    width: 0px !important;
}

input[type='file']::-webkit-file-upload-button{
    height: 0px !important;
    width: 0px !important;
}

#file-preview:hover {
    cursor: pointer;
}
  
.image-src {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100px;
}

.image-src-key {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 80px;
}

.med-image-preview {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 250px;
    margin-bottom: 75px;
}

.upload-drop-zone.is-dragover {
    color: #222;
    border-color: #222;
}
  
.box-dragndrop {
    display: none;
}
  
.upload-drop-zone.has-advanced-upload .box-dragndrop {
    display: inline;
}

#image-hash-box {
    font-size: 18px;
}

@media (max-width: 768px) {
    .navbar-brand {
        font-size: 14px;
    }

    .nav-link, .dropdown-item {
        font-size: 12px;
    }

    .hash-table th, .hash-table td, .dataTables_filter, .dataTables_length, .dataTables_info, .dataTables_paginate, .dtr-title {
        font-size: 12px;
    }

    .ajax-text-message {
        font-size: 14px;
    }

    .search-query, .alert {
        font-size: 12px;
    }
    
    #new-identity-keys .ajax-text-message {
        font-size: 12px !important;
    }

    .btn-primary {
        font-size: 12px !important;
    }
}

@media (max-width: 520px) {
    .ajax-text-message {
        font-size: 12px;
    }

    .hash-table td {
        font-size: 11px;
    }

    h4 {
        font-size: 16px;
    }

    .image-src-key {
        max-width: 50px;
    }
}

@media (max-width: 400px) {
    .ajax-text-message {
        font-size: 11px;
    }

    .hash-table td {
        font-size: 10px;
    }

    #new-identity-keys .ajax-text-message {
        font-size: 9px !important;
    }
}

/* UPLOAD */

.sk-fading-circle {
    width: 40px;
    height: 40px;
    position: relative;
}

.sk-fading-circle .sk-circle {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
  
.sk-fading-circle .sk-circle:before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 15%;
    height: 15%;
    background-color: #333;
    border-radius: 100%;
    -webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
            animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
}
.sk-fading-circle .sk-circle2 {
    -webkit-transform: rotate(30deg);
        -ms-transform: rotate(30deg);
            transform: rotate(30deg);
}
.sk-fading-circle .sk-circle3 {
    -webkit-transform: rotate(60deg);
        -ms-transform: rotate(60deg);
            transform: rotate(60deg);
}
.sk-fading-circle .sk-circle4 {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
}
.sk-fading-circle .sk-circle5 {
    -webkit-transform: rotate(120deg);
        -ms-transform: rotate(120deg);
            transform: rotate(120deg);
}
.sk-fading-circle .sk-circle6 {
    -webkit-transform: rotate(150deg);
        -ms-transform: rotate(150deg);
            transform: rotate(150deg);
}
.sk-fading-circle .sk-circle7 {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
}
.sk-fading-circle .sk-circle8 {
    -webkit-transform: rotate(210deg);
        -ms-transform: rotate(210deg);
            transform: rotate(210deg);
}
.sk-fading-circle .sk-circle9 {
    -webkit-transform: rotate(240deg);
        -ms-transform: rotate(240deg);
            transform: rotate(240deg);
}
.sk-fading-circle .sk-circle10 {
    -webkit-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
            transform: rotate(270deg);
}
.sk-fading-circle .sk-circle11 {
    -webkit-transform: rotate(300deg);
        -ms-transform: rotate(300deg);
            transform: rotate(300deg); 
}
.sk-fading-circle .sk-circle12 {
    -webkit-transform: rotate(330deg);
        -ms-transform: rotate(330deg);
            transform: rotate(330deg); 
}
.sk-fading-circle .sk-circle2:before {
    -webkit-animation-delay: -1.1s;
            animation-delay: -1.1s; 
}
.sk-fading-circle .sk-circle3:before {
    -webkit-animation-delay: -1s;
            animation-delay: -1s; 
}
.sk-fading-circle .sk-circle4:before {
    -webkit-animation-delay: -0.9s;
            animation-delay: -0.9s; 
}
.sk-fading-circle .sk-circle5:before {
    -webkit-animation-delay: -0.8s;
            animation-delay: -0.8s; 
}
.sk-fading-circle .sk-circle6:before {
    -webkit-animation-delay: -0.7s;
            animation-delay: -0.7s; 
}
.sk-fading-circle .sk-circle7:before {
    -webkit-animation-delay: -0.6s;
            animation-delay: -0.6s; 
}
.sk-fading-circle .sk-circle8:before {
    -webkit-animation-delay: -0.5s;
            animation-delay: -0.5s; 
}
.sk-fading-circle .sk-circle9:before {
    -webkit-animation-delay: -0.4s;
            animation-delay: -0.4s;
}
.sk-fading-circle .sk-circle10:before {
    -webkit-animation-delay: -0.3s;
            animation-delay: -0.3s;
}
.sk-fading-circle .sk-circle11:before {
    -webkit-animation-delay: -0.2s;
            animation-delay: -0.2s;
}
.sk-fading-circle .sk-circle12:before {
    -webkit-animation-delay: -0.1s;
            animation-delay: -0.1s;
}

@-webkit-keyframes sk-circleFadeDelay {
    0%, 39%, 100% { opacity: 0; }
    40% { opacity: 1; }
}

@keyframes sk-circleFadeDelay {
    0%, 39%, 100% { opacity: 0; }
    40% { opacity: 1; } 
}