<div id="explorer-search" class="row">
    <div class="col-12">
        <form id="form-explorer-search" action="/explorer/search" method="POST">
            <div class="custom-input">
                <div class="input-group">
                    <input id="explorer-input" type="text" class="search-query form-control" name="data" autocomplete="off" placeholder="Search by Address/Txhash/Block" />
                    <span class="input-group-btn">
                        <button id="explorer-search-btn" class="button-search" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </div>
        </form>
    </div>
</div>