<% include ../layouts/navigation-bar %>

<main class="container general-container">
    <div class="row h-100">
        <div class="col-12 my-auto">
            <% include ./header %>
            <div id="page-error">
                <div class="page-error">
                    <h2>Oops! Nothing was found</h2>
                    <p>Sorry, We are unable to locate this.</p>
                </div>
            </div>
        </div>
    </div>
</main>

<% include ../layouts/footer %>