<main class="container general-container">
    <div class="row h-100">
        <div class="col-12 my-auto">
            <% include ../layouts/wait %>
            <div id="custom-files-search-input" class="custom-input">
                <form id="form-get-files">
                    <div id="public-key-text-box" class="input-group margin-custom-radio">
                        <h6>Private or Public Key</h6>
                        <input id="public-key" type="text" name="publicKey" class="search-query form-control" placeholder="Paste your private or public key here to search your files" />
                    </div>
                    <button id="btn-find-files" class="btn btn-primary margin-custom-radio float-right" type="button"><i class="fa fa-search" aria-hidden="true"></i> Search</button>
                </form>
            </div>      
            <div id="hash-tables" class="d-none">
                <div id="sent-table" class="hash-table-div">
                    <h6 class="hash-title"><i class="fa fa-paper-plane" aria-hidden="true"></i> Hash Sent</h6>
                    <table id="hash-sent-table" class="table hash-table dt-responsive" style="width:100%;">
                        <thead>
                            <tr>
                                <th>To</th>
                                <th>Hash</th>
                                <th>View More</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div id="received-table" class="hash-table-div">
                    <h6 class="hash-title"><i class="fab fa-get-pocket"></i> Hash Received</h6>
                    <table id="hash-received-table" class="table hash-table dt-responsive" style="width:100%">
                        <thead>
                            <tr>
                                <th>From</th>
                                <th>Hash</th>
                                <th>View More</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade modal-keys" id="modal-viewed-received" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Hash Received</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="far fa-times-circle"></i></span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12"> 
                            <div class="form-group">
                                <label for="from">From</label>
                                <textarea class="form-control textarea-keys" rows="5" id="from" disabled></textarea>
                            </div>
                            <div class="form-group margin-custom-radio">
                                <label for="hash-received">Hash</label>
                                <textarea class="form-control textarea-keys" rows="5" id="hash-received" disabled></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade modal-keys" id="modal-viewed-sent" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Hash Sent</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="far fa-times-circle"></i></span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12"> 
                            <div class="form-group">
                                <label for="to">To</label>
                                <textarea class="form-control textarea-keys" rows="5" id="to" disabled></textarea>
                            </div>
                            <div class="form-group margin-custom-radio">
                                <label for="hash-sent">Hash</label>
                                <textarea class="form-control textarea-keys" rows="5" id="hash-sent" disabled></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>