<% include ../layouts/navigation-bar %>

<main class="container general-container">
    <div class="row h-100">
        <div class="col-12 my-auto">
           
        </div>
    </div>
</main>

<% include ../../../layouts/footer %>