<% include ../layouts/navigation-bar %>

<main class="container general-container">
    <div class="row h-100">
        <div class="col-12 my-auto">
            <% include ../../../layouts/wait %>
            <% include ../../../layouts/flash-message %>
            <div id="recovery-secure-rec" class="row">
                <div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                    <h5 class="mb-5 text-center">Recover your password</h5>
                    <form id="form-secure-rec-recovery">
                        <div class="form-row mb-2">
                            <div class="form-group col-12 mb-4">
                                <label class="service-form-label mb-2">Private Key</label>
                                <input id="privateKey" class="form-control service-form-input" type="text" name="privateKey" placeholder="Private Key" autocomplete="none">
                            </div>
                        </div>
                        <div class="form-row mt-4">
                            <div class="col-6 offset-3">
                                <button id="secure-rec-recovery-btn" type="button" class="btn btn-primary btn-block">Recover your password</button>
                            </div>
                        </div>
                        <div class="form-row mt-5">
                            <div class="col-12">
                                <p class="login-links"> Already a Member? <a href="/services/secure-rec/login">Login here.</a></p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>

<% include ../../../layouts/footer %>