<% include ../layouts/navigation-bar %>

<main class="container general-container">
    <div class="row h-100">
        <div class="col-12 my-auto">
            <div class="row">
                <div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                    <h5 class="mb-4 text-center">Recover your password</h5>
                    <form id="form-secure-rec">
                        <div class="form-row mb-2">
                            <div class="form-group col-12 mb-4">
                                <label class="service-form-label mb-2">Email</label>
                                <input id="email" class="form-control service-form-input" type="email" name="Email" placeholder="Email" autocomplete="none">
                            </div>
                        </div>
                        <div class="form-row mt-4">
                            <div class="col-6 offset-3">
                                <button type="button" class="btn btn-primary btn-block">Recover your password</button>
                            </div>
                        </div>
                        <div class="form-row mt-5">
                            <div class="col-12">
                                <p>Already a Member? Login here.</p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>

<% include ../../../layouts/footer %>