<% include ../layouts/navigation-bar %>

<main class="container general-container">
    <div class="row h-100">
        <div class="col-12 my-auto">
            <div class="row">
                <div class="col-md-4 py-5 bg-primary text-white text-center ">
                    <div class=" ">
                        <div class="card-body">
                            <!-- <h2><i class="fas fa-sign-in-alt" aria-hidden="true"></i> Sign in</h2>
                            <p></p> -->
                        </div>
                    </div>
                </div>
                <div class="col-md-8 py-5 border">
                    <!-- <h4 class="pb-4">Please fill with your details</h4> -->
                    <form>
                        <section id="user-type">
                            <!-- <h5>What type of user are you?</h5> -->
                            <div class="form-row">
                                <div class="col-3 col-md-6 col-lg-3">
                                    <div class="hidden-element-container">
                                        <label class="hidden-element">
                                            <input type="radio" name="userType" value="provider">
                                            <i class="fas fa-clinic-medical hidden-element-icon" aria-hidden="true"></i>
                                        </label>
                                        <p>Provider</p>
                                    </div>
                                </div>
                                <div class="col-3 col-md-6 col-lg-3">
                                    <div class="hidden-element-container">
                                        <label class="hidden-element">
                                            <input type="radio" name="userType" value="insurance">
                                            <i class="fas fa-ambulance hidden-element-icon" aria-hidden="true"></i>
                                        </label>
                                        <p>Insurance Company</p>
                                    </div>
                                </div>
                                <div class="col-3 col-md-6 col-lg-3">
                                    <div class="hidden-element-container">
                                        <label class="hidden-element">
                                            <input type="radio" name="userType" value="doctor">
                                            <i class="fas fa-user-md hidden-element-icon" aria-hidden="true"></i>
                                        </label>
                                        <p>Doctor</p>
                                    </div>
                                </div>
                                <div class="col-3 col-md-6 col-lg-3">
                                    <div class="hidden-element-container">
                                        <label class="hidden-element">
                                            <input type="radio" name="userType" value="patient">
                                            <i class="fas fa-user hidden-element-icon" aria-hidden="true"></i>
                                        </label>
                                        <p>Patient</p>
                                    </div>
                                </div>
                            </div>
                        </section>
                        
                        <div class="form-row mt-5">
                            <div class="col-12">
                                <button type="button" class="btn btn-primary float-right"><i class="fas fa-arrow-right" aria-hidden="true"></i> Next</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>

<% include ../../../layouts/footer %>