.navbar-brand {
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
}

.dropdown-item {
    font-size: 14px;
}

.navbar {
    border-bottom: 1px solid #e5e5e5;
}

@media (max-width: 768px) {
    .navbar-brand {
        font-size: 14px;
    }

    .nav-link, .dropdown-item {
        font-size: 12px;
    }
}